* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 900px;
}

.blue {
    color: lightblue;
    text-align: center;
}

.bg-color {
    background-color: blue;
}

.padding {
    padding: 25px;
}